body {
    font-size: 13px;
    line-height: 24px;
    color: #000000;
    font-weight: normal;
    font-family: 'PT Sans Regular', 'TP Sans', sans-serif;
    width: 1200px;
/*    margin: 0 auto;*/
    margin-left: 0;
    margin-top: 0;
}

.gallery h2 {
    font-size: 36px;
    line-height: 36px;
    color: #ffffff;
    font-weight: bold;
    font-family: 'Cuprum Bold', Cuprum, sans-serif;
}

.goods h2,
.producers h2 {
    font-size: 30px;
    line-height: 30px;
    color: #32425c;
    font-weight: normal;
    font-family: 'Cuprum Regular', Cuprum, sans-serif;
    
    float: left;
}

.main-header {
    min-height: 320px;
    background: #f1f5f7;
/*    margin-bottom: 60px;*/
}

.top-menu {
    background: #293449;
    margin-bottom: 29px;
}

.center {
    width: 940px;
    margin: 0 auto;
    outline: 1px solid yellow;
}

.logo {
    width: 220px;
    min-height: 42px;
    float: left;
    margin-right: 15px;
}

.search {
    width: 250px;
    min-height: 42px;
    float: left;
    margin-right: 15px;
}

.container {
    width: 130px;
    min-height: 42px;
    float: left;
    margin-right: 10px;
}

.make-order {
    width: 150px;
    min-height: 42px;
    float: right;
    margin-left: 10px;
}

.clearfix {
    content: '';
    display: table;
    clear: both;
}

.menu p:nth-child(1) {
    width: 210px;
    min-height: 100px;
    float: left;
    margin-left: 45px;
    margin-top: 0;
}

.contacts {
    width: 300px;
    float: left;
    margin-left: 50px;
}

.guest-panel,
.authorization {
    width: 300px;
    min-height: 100px;
    float: right;
}

.navigation {
    width: 940px;
    float: left;
    margin-top: 16px;
    margin-bottom: 65px;
}

.promo {
    width: 940px;
    min-height: 409px;
    margin-top: 60px;
    margin-bottom: 54px;
}

.materials,
.tool {
    width: 300px;
    height: 123px;
    float: left;
    margin-right: 20px;
}

.machines {
    width: 300px;
    height: 123px;
    float: right;
    margin-right: 0;
}

.gallery {
    width: 620px;
    min-height: 266px;
    margin-top: 20px;
    float: left;
}

.sales,
.delivery {
    width: 300px;
    height: 123px;
    float: right;
    margin-top: 20px;
}

.goods {
    width: 940px;
    min-height: 427px;
    margin-bottom: 22px;
}

.goods-hat,
.producers-hat {
    width: 940px;
    min-height: 89px;
    margin-bottom: 21px;
}

.goods-btn,
.producers-btn {
    width: 253px;
    height: 38px;
    float: right;
    margin-right: 24px;
    margin-top: 25px;
    margin-bottom: 26px;
}

.product-1,
.product-2, 
.product-3,
.product-4 {
    width: 220px;
    min-height: 317px;
    float: left;
    margin-right: 20px;
    outline: 1px solid black;
}

.goods div:nth-child(4n+1) {
    float: right;
    margin-right: 0;
}

.producers {
    width: 940px;
    min-height: 419px;
    margin-bottom: 66px;
}

.producer-bosch,
.producer-makit,
.producer-dewalt, 
.producer-interskol,
.producer-hitachi,
.producer-lg,
.producer-aeg,
.producer-metabo {
    width: 220px;
    min-height: 144px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    outline: 1px solid black;
}

.producers a:nth-child(4n) {
    float: right;
    margin-right: 0;
}

.services {
    min-height: 522px;
    background: #f2f6f8;
    margin-bottom: 67px;
}

.services-info {
    width: 940px;
    min-height: 120px;
    background: white;
    margin-top: 60px;
    margin-bottom: 58px;
}

.services-menu {
    width: 240px;
    min-height: 185px;
    float: left;
}

.services-delivery,
.warranty,
.credit {
    width: 620px;
    min-height: 185px;
    float: right;
}

.company {
    width: 540px;
    min-height: 400px;
    float: left;
}

.maps {
    width: 300px;
    min-height: 400px;
    float: right;
}

.main-footer {    
    margin-top: 70px;
    background: #32425c;
}

.footer-menu {
    min-height: 194px;
}

.footer-menu .logo{
    min-height: 63px;
}

.footer-menu p {
    width: 330px;
    min-height: 50px;
    float: left;
    margin-left: -236px;
    margin-top: 95px;
}

.footer-navigation {
    width: 565px;
    float: right;
    margin-top: 42px;
}

.footer-info {
    background: #293449;
    min-height: 107px;
}

.footer-info p{
    width: 240px;
    min-height: 50px;
    float: left;
    margin-top: 35px;
    margin-bottom: 31px;
}
.social {
    width: 132px;
    min-height: 43px;
    float: left;
    margin-left: 150px;
    margin-top: 35px;
    margin-bottom: 31px;
}

.designed {
    width: 115px;
    min-height: 40px;
    float: right;
    margin-top: 35px;
    margin-bottom: 31px;
}

.feedback {
    width: 140px;
    min-height: 40px;
    float: left;
    margin-left: 118px;
    margin-top: 35px;
    margin-bottom: 31px;
}

.catalog-title {
    min-height: 59px;
}

.breadcrumbs {
    float: left;
    margin-top: 0;
    background: green;
}

main h1 {
    background: #f2f6f8;
    min-height: 90px;
    margin-top: 0;
}
