body {
    width: 1200px;
/*    margin: 0 auto;*/
    font-size: 13px;
    line-height: 24px;
    color: #000000;
    font-weight: normal;
    font-family: 'PT Sans Regular', 'TP Sans', 'Arial', sans-serif;
}

.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-item1 {
    width: 44px;
    height: 65px;
    background-position: -5px -5px;
}

.sprite-item2 {
    width: 78px;
    height: 62px;
    background-position: -59px -5px;
}

.sprite-item3 {
    width: 75px;
    height: 61px;
    background-position: -59px -77px;
}

.sprite-item4 {
    width: 59px;
    height: 72px;
    background-position: -147px -5px;
}

.sprite-item5 {
    width: 78px;
    height: 63px;
    background-position: -144px -87px;
}




/*

.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}
*/

.sprite-icon-basket {
    width: 17px;
    height: 16px;
    background-position: -5px -5px;
}

.sprite-icon-bookmark {
    width: 14px;
    height: 16px;
    background-position: -32px -5px;
}

.sprite-icon-check-off {
    width: 23px;
    height: 23px;
    background-position: -56px -5px;
}

.sprite-icon-check-on {
    width: 27px;
    height: 23px;
    background-position: -5px -38px;
}

.sprite-icon-circle {
    width: 25px;
    height: 25px;
    background-position: -42px -38px;
}

.sprite-icon-circle-dot {
    width: 25px;
    height: 25px;
    background-position: -77px -38px;
}

.sprite-icon-facebook {
    width: 10px;
    height: 18px;
    background-position: -89px -5px;
}

.sprite-icon-home {
    width: 15px;
    height: 12px;
    background-position: -5px -73px;
}

.sprite-icon-instagramm {
    width: 17px;
    height: 17px;
    background-position: -30px -73px;
}

.sprite-icon-login {
    width: 20px;
    height: 17px;
    background-position: -57px -73px;
}

.sprite-icon-phone {
    width: 19px;
    height: 19px;
    background-position: -87px -73px;
}

.sprite-icon-search {
    width: 17px;
    height: 17px;
    background-position: -109px -5px;
}

.sprite-icon-search-red {
    width: 17px;
    height: 17px;
    background-position: -112px -32px;
}

.sprite-icon-user {
    width: 20px;
    height: 18px;
    background-position: -5px -102px;
}

.sprite-icon-vk {
    width: 20px;
    height: 12px;
    background-position: -35px -102px;
}








.gallery h2 {
    font-size: 36px;
    line-height: 36px;
    color: #ffffff;
    font-weight: bold;
    font-family: 'Cuprum Bold', Cuprum, sans-serif;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

.goods h2,
.producers h2 {
    font-size: 30px;
    line-height: 30px;
    color: #32425c;
    font-weight: normal;
    font-family: 'Cuprum Regular', Cuprum, sans-serif;
    text-transform: uppercase;
    margin: 30px 0;
    margin-left: 28px;
    
    
    float: left;
}

.main-header {
    background: #f1f5f7;
}

.top-menu {
    background: #293449;
    margin-bottom: 29px;
}

.center {
    width: 940px;
    margin: 0 auto;
}

.logo {
    font-family: 'Cuprum Regular', Cuprum, 'Arial', sans-serif;
    color: #ffffff;
    font-size: 24px;
    font-weight: normal;
    line-height: 24px;
    text-transform: uppercase;
    background: #ee3643;
    float: left;
    display: inline-block;
    vertical-align: top;
    padding: 10px 55px 6px 55px;
    box-shadow: 0 5px 0 #b52933;
}

.search {
    float: left;
    position: relative;
}

input[type="submit"] {
    display: none;
}

input[type="search"] {
    border: none;
    outline: none;
    background: transparent;
    color: #000000;
    font-family: 'Cuprum Regular', Cuprum, 'Arial', sans-serif;
    font-size: 17px;
    font-weight: normal;
    line-height: 18px;
    width: 280px;
    height: 40px;
    padding-left: 48px;
    padding-right: 2px;
}
.search::before  {
    content: '';
    position: absolute;
    width: 17px;
    height: 17px;
    top: 12px;
    left: 16px;
    background: transparent url("../img/icon/sprite.png") no-repeat;
    background-position: -109px -5px;
    opacity: 0.3;
}

input[type="search"]::-webkit-input-placeholder {
    color: #ffffff;
    opacity: 1;
}

input[type="search"]::-moz-placeholder {
    color: #ffffff;
    opacity: 1;
}

.search:hover::before {
    opacity: 1;
}

input[type="search"]:focus {
    background: #ffffff;
}

.container {
    float: left;
    margin-right: 10px;
    position: relative;
    padding: 11px 30px 11px 35px;
    font-family: 'Cuprum Regular', Cuprum, 'Arial', sans-serif;
    font-weight: normal;
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    text-decoration: none;
}

.container:nth-of-type(2) {
    margin-right: 0;
}

.container:first-of-type:before {
    content: '';
    width: 14px;
    height: 16px;
    position: absolute;
    top: 12px;
    left: 7px;
    background: transparent url("../img/icon/sprite.png") no-repeat;
    background-position: -32px -5px;
    opacity: 0.3;
}

.container:nth-of-type(2):before {
    content: '';
    width: 17px;
    height: 16px;
    position: absolute;
    top: 12px;
    left: 3px;
    background: transparent url("../img/icon/sprite.png") no-repeat;
    background-position: -5px -5px;
    opacity: 0.3;
}

.container:hover::before {
    opacity: 1;
}

.container:active {
    opacity: 0.6;
}

.container:active::before {
    opacity: 0.5;
}

.make-order {
    float: right;
    position: relative;
    padding: 11px 21px;
    font-family: 'Cuprum Regular', Cuprum, 'Arial', sans-serif;
    font-weight: normal;
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    text-decoration: none;
    background: #63a63e;
}

.make-order:hover {
    background: #5fbb2d;
}

.make-order:active {
    background: #518534;
    opacity: 0.5;
}

.clearfix {
    content: '';
    display: table;
    clear: both;
}

.menu p:nth-child(1) {
    width: 210px;
/*    min-height: 100px;*/
    float: left;
    margin-left: 45px;
    margin-top: 0;
    color: #ee3643;
    font-family: 'Cuprum Regular', Cuprum, 'Arial', sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 15px;
    line-height: 23px;
    padding: 19px 10px 10px 9px;
}

.contacts {
    width: 272px;
    float: left;
    margin-left: 46px;
}
.phone {
    border: 3px solid #ffffff;
    margin-top: 18px;
    font-family: 'Cuprum Regular', Cuprum, 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 21px;
    color: #e9292a;
    display: inline-block;
    padding: 8px 50px 8px 72px;
    position: relative;
}

.phone::before {
    content: '';
    position: absolute;
    width: 19px;
    height: 19px;
    background: red;
    top: 10px;
    left: 12px;
    background: url(../img/icon/sprite.png) no-repeat;
    background-position: -87px -73px;
}

.contacts p {
    font-family: 'Cuprum Regular', Cuprum, 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #32425c;
    margin-top: 4px;
    text-align: center;
}

.guest-panel,
.authorization {
/*
    width: 300px;
    min-height: 100px;
*/
    float: right;
    margin-top: 32px;
    font-family: 'Cuprum Regular', Cuprum, 'Arial', sans-serif;
    font-weight: normal;
    font-size: 21px;
    line-height: 21px;        
}

.checkin {
    padding: 11px 24px;
    text-decoration: none;
    background: #ffffff;
    color: #000000;    
    margin-left: 5px;
}

.login {
    padding: 11px 27px 11px 48px;
    text-decoration: none;
    background: #ffffff;
    color: #000000;
    position: relative;
}

.checkin:hover,
.login:hover {
    color: #ee3643;
}

.login:hover::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 17px;
    top: 14px;
    left: 15px;
    background: url("../img/icon/icon-login-hover.png") no-repeat;
/*    background-position: -57px -73px;    */
}

.checkin:active,
.login:active {
    color: #c5c5c5;
}

.login::before, 
.login:active::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 17px;
    top: 14px;
    left: 15px;
    background: url("../img/icon/sprite.png") no-repeat;
    background-position: -57px -73px;    
}

.navigation {
/*    width: 940px;*/
    float: left;
    margin-top: 16px;
    margin-bottom: 65px;
    color: #ffffff;
    background-color: #32425c;
}

.navigation a,
.navigation span {
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 20px 31px;
    padding-bottom: 18px;    
}

.navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
    box-shadow: 0 5px 0 #293449;
}

.navigation li {
    display: inline-block;
    vertical-align: top;
    font-family: 'Cuprum Regular', Cuprum, 'Arial', sans-serif;
    font-weight: normal;
    font-size: 17px;
    line-height: 17px;
}

.navigation span {
    padding-left: 50px;
}

.navigation li:last-of-type {
    padding-right: 19px;
}

.navigation a:hover {
    background: #293449;
}

.navigation a:active {
    opacity: 0.5;
}

.promo {
/*
    width: 940px;
    min-height: 409px;
*/
    margin-top: 60px;
    margin-bottom: 44px;
    font-family: 'Cuprum Regular', Cuprum, 'Arial', sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #ffffff;
    position: relative;
}

.materials,
.tool {
    width: 300px;
    height: 123px;
    float: left;
    margin-right: 20px;
}

.materials {
    background: #f6b22d;
    position: relative;
}

.materials::before {
    content: '';
    position: absolute;
    width: 44px;
    height: 65px;
    top: 30px;
    left: 213px;
    background: url("../img/sprite-item.png") no-repeat;
    background-position: -5px -5px;
/*    z-index: 5;*/
}

.materials span,
.tool span,
.machines span,
.sales span,
.delivery span {
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
    margin-left: 22px;
}

.promo-btn {
    display: block;
    font-weight: normal;
    text-decoration: none;    
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    background: rgba(0, 0, 0, 0.1);
    width: 135px;
    margin-left: 25px;
    margin-top: 12px;    
    padding: 10px 0;
    text-align: center;
    border-radius: 4px;
    color: #ffffff;
}

.promo-btn:hover {
    background: rgba(0, 0, 0, 0.2);
}

.promo-btn:active {
    background: rgba(0, 0, 0, 0.3);
}

.tool {
    background: #4aafde;
    position: relative;
}

.tool::before {
    content: '';
    position: absolute;
    width: 75px;
    height: 61px;
    top: 33px;
    left: 197px;
    background: url("../img/sprite-item.png") no-repeat;
    background-position: -59px -77px;
}

.machines {
    width: 300px;
    height: 123px;
    float: right;
    margin-right: 0;
    background: #cc79d1;
    position: relative;
}

.machines::before {
    content: '';
    position: absolute;
    width: 78px;
    height: 62px;
    top: 31px;
    left: 190px;
    background: url("../img/sprite-item.png") no-repeat;
    background-position: -59px -5px;
}

.gallery {
/*
    width: 620px;
    min-height: 266px;
*/
    margin-top: 20px;
    float: left;
    position: relative;
}

.gallery-1,
.gallery-2{
    position: relative;
    margin: 0;
}

.gallery-description {
    position: absolute;
    top: 22px;
    left: 24px;
}

.gallery p {
    font-family: 'PT Sans Regular', 'TP Sans', 'Arial', sans-serif;
    font-size: 18px;
    line-height: 24px;
    margin-top: 2px;
    font-weight: 100;
}

.gallery-btn {
    display: block;
    font-weight: normal;
    text-decoration: none;    
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    background: #ee3643;
    width: 195px;
    margin-top: 122px;    
    padding: 10px 0;
    text-align: center;
    border-radius: 4px;
    color: #ffffff;
}

.control-btn {
    position: absolute;
    top: 110px;
}

.control-btn button {
/*    background: transparent;*/
    font-size: 0;
    border: none;
}

.gallery-left {
    width: 25px;
    height: 40px;
    background: url(../img/icon-left.png) no-repeat;
    margin-left: 25px;
    cursor: pointer;
}

.gallery-right {
    width: 25px;
    height: 40px;
    background: url(../img/icon-right.png) no-repeat;
    margin-left: 520px;
    cursor: pointer;
/*    padding-bottom: 0;*/
}

.slider {
    position: absolute;
    bottom: -78px;
    width: 200px;
    height: 10px;
    margin-left: 210px;
    text-align: center;
    z-index: 100;
}

.slider i {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 3px;
    background: #ffffff;
    border: 2px solid #ffffff;
    vertical-align: top;
    border-radius: 50%;
    cursor: pointer;
}
.slider .active {
    background: #ee3643;
}

/*
.slider-1,
.slider-2 {
    width: 10px;
    height: 10px;
    background: #ffffff;
    margin-top: 67px;
    border-radius: 10px;
    margin-right: 5px;
}
*/

/*
.slider-1 {
    margin-left: 295px;
}
*/

.sales,
.delivery {
    width: 300px;
    height: 123px;
    float: right;
    margin-top: 20px;
    position: relative;
}

.sales {
    background: #85d179;
}

.sales::before {
    content: '';
    position: absolute;
    width: 59px;
    height: 72px;
    top: 27px;
    left: 195px;
    background: url("../img/sprite-item.png") no-repeat;
    background-position: -147px -5px;
}

.delivery {
    background: #f6b22d;
}

.delivery::before {
    content: '';
    position: absolute;
    width: 78px;
    height: 63px;
    top: 31px;
    left: 190px;
    background: url("../img/sprite-item.png") no-repeat;
    background-position: -144px -87px;
}

.goods {
    width: 940px;
    min-height: 427px;
}

.goods-hat,
.producers-hat {
    width: 940px;
    min-height: 89px;
    margin-bottom: 21px;
    padding: 0;
    background: #f7f3ec;
}

.goods-btn,
.producers-btn {
    display: block;
    font-family: 'Cuprum Regular', Cuprum, 'Arial', sans-serif;
    font-weight: normal;
    text-decoration: none;    
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    padding: 10px 0;
    text-align: center;
    border-radius: 4px;
    color: #ffffff;    
    width: 253px;
    float: right;
    margin-right: 24px;
    margin-top: 25px;
    margin-bottom: 26px;
    background: #ee3643;
}

.product {
    width: 220px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    outline: 1px solid #e5e5e5;
    font-weight: 600;
    text-align: center;
    position: relative;
}

.goods div:nth-child(4n+1),
.catalog div:nth-child(3n) {
    float: right;
    margin-right: 0;
}

.product-btn {
    display: block;
    width: 140px;
    margin: 0 auto 20px;
    background: #ee3643;
    text-decoration: none;
    font-size: 17px;
    line-height: 18px;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    border-radius: 4px;
    position: relative;
}

.actions {
    position: absolute;
    top: 0;
    left: 0;
    width: 220px;
    height: 88px;
    padding: 40px 0;
    background-color: #ffffff;
}

.product-btn::before{
    content: '';
    position: absolute;
    border: 19px solid transparent;
    border-top: 19px solid #ffffff;
    border-bottom: 19px solid #ffffff;
    bottom: 0;
    right: -19px;
}

.goods-img {
    width: 220px;
    height: 172px;
    overflow: hidden;
    line-height: 172px;
}

.goods-img img {
    vertical-align: middle;
}

.goods img,
.catalog img {
    max-width: 100%;
}

.goods h3,
.catalog h3 {
    font-size: 18px;
    line-height: 20px;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 0 25px;
}

.goods span,
.catalog span {
    display: block;
    margin-bottom: 10px;
    font-size: 17px;
    line-height: 18px;
    text-decoration: line-through;
    color: #999999;
    min-height: 20px;
}

.actions .buy,
.actions .to-bookmarks {
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #63a63e;
    display: block;
    width: 135px;
    margin: 0 auto 7px;
    padding: 10px 0;
    border-radius: 4px;
}

.actions .buy {
    box-shadow: inset 0 -3px 0 #367315;
}

.actions .to-bookmarks {
    width: 129px;
    padding: 7px 0;
    color: #32425c;
    border: 3px solid #63a63e;
    background-color: #ffffff;
}

.goods .actions,
.catalog .actions {
    display: none;
}

.product:hover .actions {
    display: block;
}

.new::after {
    position: absolute;
    top: -1px;
    right: -1px;
    z-index: 10;
    width: 60px;
    height: 60px;
    content: '';
    background: url(../img/new-flag.png) no-repeat 0 0;
}

.promo .new::after {
    top: 0;
    right: 0;
}

.product:hover {
    box-shadow: 1px 1px 30px #b1b5bd;
}

.buy {
    position: relative;
}

.buy::before {
    content: '';
    position: absolute;
    top: 14px;
    left: 17px;
    content: '';
    width: 17px;
    height: 16px;
    background: red;
    background: url(../img/icon/sprite.png) no-repeat;
    background-position: -5px -5px;
    opacity: 0.3;
}

.buy:hover {
    background: #5fbb2d;
}

.buy:hover::before {
    opacity: 1;
}

.buy:active {
    background: #518534;
}

.to-bookmarks:hover {
    border-color: #32425c;
}

.to-bookmarks:active {
    opacity: 0.3;
}

.producers {
    width: 940px;
    min-height: 419px;
    margin-bottom: 66px;
}

.producer {
    width: 220px;
    min-height: 144px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    outline: 1px solid #e5e5e5;
    text-align: center;
    line-height: 144px;
}

.producers a:nth-child(4n) {
    float: right;
    margin-right: 0;
}

.producer img {
    vertical-align: middle;
}

.producer:hover {
    box-shadow: 1px 1px 30px #b1b5bd;
}

.producer:active {
    opacity: 0.3;
    box-shadow: 1px 1px 15px #b1b5bd;
    
}

.services {
    min-height: 522px;
    background: #f2f6f8;
    margin-bottom: 67px;
}

.services-info {
    width: 940px;
    min-height: 120px;
    margin-top: 66px;
    margin-bottom: 54px;
}

.services h2 {
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: 100;
    text-transform: uppercase;
}

.services p {
    font-size: 13px;
    line-height: 24px;
    font-weight: 200;
}

.services-menu {
    width: 240px;
/*    min-height: 185px;*/
    float: left;
    position: relative;
}

.services-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.services-menu a {
    display: block;
    background: #32425c;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-size: 21px;
    line-height: 30px;
    font-weight: 600;
    padding: 15px;
    padding-left: 22px;
    border-top: 1px solid #405069;
    border-bottom: 1px solid #293449;
    position: relative;
}

.services-menu a:hover {
    background: #293449;
    color: #ffffff;
}

.services-menu::before {
    position: absolute;
    content: '';
    top: -43px;
    right: 0;
    width: 10px;
    height: 272px;
    z-index: 10;
    background: transparent url(../img/line.png) no-repeat;
}

.services-menu .active {
    background: #ffffff;
    border-top: #ffffff;
    border-bottom: #ffffff;
    color: #32425c;
}

.services-delivery,
.warranty,
.credit {
    width: 620px;
    min-height: 185px;
    float: right;
    position: relative;
}

.services h3 {
    margin: 0;
    color: #32425c;
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-size: 36px;
    line-height: 36px;
    font-weight: 200;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.services-delivery p {
    width: 277px;
}

.warranty p {
    width: 380px;
}

.credit p {
    width: 282px;
}

.credit a {
    display: block;
    font-family: 'Cuprum Regular', Cuprum, 'Arial', sans-serif;
    font-weight: normal;
    text-decoration: none;    
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    padding: 10px 0;
    text-align: center;
    border-radius: 4px;
    color: #ffffff;    
    width: 195px;
    margin-top: 30px;
    background: #ee3643;
}

.services img {
    position: absolute;
    top: 0;
    right: 0;
}

.company {
    width: 540px;
    min-height: 400px;
    float: left;
    margin-bottom: 70px;
}

.company h2,
.maps h2 {
    margin-top: 10px;
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-size: 30px;
    line-height: 36px;
    font-weight: 100;
    text-transform: uppercase;
}

.company p,
.maps p {
    font-size: 13px;
    line-height: 24px;
    font-weight: 100;
    margin: 0;
    margin-top: 26px;
}

.partners {
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-size: 18px;
    line-height: 40px;
    font-weight: 300;
    margin: 0;
    margin-top: 8px;
    padding-left: 32px;
    list-style-image: url(../img/ul-line.jpg);
}

.partners li {
    padding-left: 4px;    
}


.link-btn,
.company-btn {
    display: block;
    font-family: 'Cuprum Regular', Cuprum, 'Arial', sans-serif;
    font-weight: normal;
    text-decoration: none;    
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    padding: 10px 0;
    text-align: center;
    border-radius: 4px;
    color: #ffffff;    
    width: 300px;
    margin-top: 32px;
    background: #ee3643;    
}

.company-btn {
    width: 220px;
    margin-top: 24px;
}

.map {
    margin-top: 30px;
}

.maps {
    width: 300px;
/*    min-height: 400px;*/
    float: right;
}

.main-footer { 
    background: #32425c;
}

.footer-menu {
    min-height: 194px;
}

.footer-menu .logo {
    font-size: 30px;
    line-height: 30px;
    padding: 20px 41px 14px 41px;
}

.footer-menu p {
    width: 330px;
/*    min-height: 50px;*/
    float: left;
    margin-left: -220px;
    margin-top: 95px;
    color: #f1f5f7;
    font-family: 'Cuprum Regular', Cuprum, 'Arial', sans-serif;
    font-weight: normal;   
    font-size: 18px;
    line-height: 24px;
}

.footer-navigation {
    width: 610px;
    float: right;
    margin-top: 24px;
    color: #f1f5f7;
    font-family: 'Cuprum Regular', Cuprum, 'Arial', sans-serif;
    font-weight: normal;   
    font-size: 18px;
    line-height: 24px;
}

.footer-navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;
    text-align: right;
}

.footer-navigation li {
    display: inline-block;
    vertical-align: top;
    font-family: 'Cuprum Regular', Cuprum, 'Arial', sans-serif;
    font-weight: normal;   
    font-size: 18px;
    line-height: 24px;
    padding: 0;
    margin: 0;
}

.footer-navigation a {
    text-decoration: none;
    color: #f1f5f7;
    display: block;
    padding: 16px 0 16px 59px;
}

.footer-navigation li:nth-child(n+6) a {
    color: #ffd180;
}

.footer-navigation a:hover {
    text-decoration: underline;
}

.footer-navigation a:active {
    opacity: 0.5;
    text-decoration: none;
}

.footer-info {
    background: #293449;
    min-height: 107px;
    font-family: 'Cuprum Regular', Cuprum, 'Arial', sans-serif;
    font-weight: 100;   
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
}

.footer-info a {
    color: #ffd180;
    text-decoration: none;
}

.footer-info p {
    width: 240px;
    min-height: 50px;
    float: left;
    margin-top: 35px;
    margin-bottom: 31px;
}

.social {
/*    width: 134x;*/
/*    min-height: 43px;*/
    float: left;
    margin-left: 150px;
    margin-top: 35px;
    margin-bottom: 31px;
    text-align: center;
}

.social a {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 1px;
    font-size: 0;
    vertical-align: top;
    text-decoration: none;
    border-radius: 50%;
}

.social .vk {
    background: #212a3a url("../img/icon/icon-vk.png") no-repeat;
    background-position: 10px 14px;
}

.social .facebook {
    background: #212a3a url("../img/icon/icon-facebook.png") no-repeat;
    background-position: 15px 10px;
}

.social .instagram {
    background: #212a3a url("../img/icon/icon-instagramm.png") no-repeat;
    background-position: 12px 11px;
}

.social .vk:hover,
.social .vk:active {
    background: #ee3643 url("../img/icon/icon-vk.png") no-repeat;
    background-position: 10px 14px;
}

.social .facebook:hover,
.social .facebook:active {
    background: #ee3643 url("../img/icon/icon-facebook.png") no-repeat;
    background-position: 15px 10px;
}

.social .instagram:hover,
.social .instagram:active {
    background: #ee3643 url("../img/icon/icon-instagramm.png") no-repeat;
    background-position: 12px 11px;
}

.communication a:hover {
    text-decoration: underline;
}

.communication a:active {
    color: #ee3643;
    text-decoration: none;
}
.designed {
    width: 115px;
    min-height: 40px;
    float: right;
    margin-top: 35px;
    margin-bottom: 31px;
}

.feedback {
    width: 140px;
    min-height: 40px;
    float: left;
    margin-left: 118px;
    margin-top: 35px;
    margin-bottom: 31px;
}

.catalog-title {
    min-height: 59px;
}

.breadcrumbs {
    float: left;
    margin-top: 0;
}

main h1 {
    background: #f2f6f8;
    min-height: 90px;
    margin-top: 0;
    margin-bottom: 20px;
}

.filter {
    width: 220px;
    min-height: 750px;
    float: left;
    margin-right: 20px;
}

.sort {
    width: 700px;
    min-height: 38px;
    float: right;
    margin-bottom: 20px;
}

.catalog {
    width: 700px;
    float: right;
    margin-bottom: 32px;
}

.pages {
    float: left;
    margin-left: 240px;
    min-height: 38px;
    width: 284px;
    margin-bottom: 60px;
}

.service {
    background: #f2f6f8;
    min-height: 260px;
}

.service h2,
.service p {
    float: left;
    
}

